.range {

}

.range-slider {
  height: 1px;
  position: relative;
  background-color: #FFF;

}

.range-selected {
  height: 100%;
  left: 0%;
  right: 0%;
  position: absolute;
  background-color: #FFF;
}

.range-input {
  position: relative;
}
.range-input input {
  position: absolute;
  width: 100%;
  height: 5px;
  top: -1px;
  z-index:1;
  background: none;
  pointer-events: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.range-input input::-webkit-slider-thumb {
  height: 6px;
  width: 15px;
  background-color: #FF6801;
  pointer-events: auto;
  -webkit-appearance: none;
}
.range-input input::-moz-range-thumb {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  border: 3px solid #235383;
  background-color: #fff;
  pointer-events: auto;
  -moz-appearance: none;
}

.range-price {
    margin-top: 7px;
    width: 100%;
    display: flex;
    color:#FFF;
    font-weight:600;
    justify-content: center;
    align-items: center;
  }
  .range-price label {
    margin-right: 5px;
  }
  .range-price input {
    width: 95px;
    padding: 0px 0px;
    background:transparent;
    border:none;
    color:#FFF;
    font-weight:600;
    outline:none;
  }
  .range-price input:first-of-type {
   
  }

/* Carrossel Hover - Fade Effect */
.imagem-imovel {
    transition: opacity 0.5s ease-in-out !important;
}

.imagem-imovel:hover {
    cursor: pointer;
}
